<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maru.android_layout_example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SizeLayoutOneActivity" />
        <activity android:name=".SizeLayoutTwoActivity" />
        <activity android:name=".LinearLayoutActivity" />
        <activity android:name=".myconstraintlayout.MyConstraintLayoutActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".mystartactivity.MyStartActivity" />
        <activity android:name=".mystartactivity.ExampleOne" />
        <activity android:name=".MyImageViewActivity" />
        <activity android:name=".mystartactivity.ExampleTwo" />
        <activity android:name=".myconstraintlayout.RelativePositionActivity" />
        <activity android:name=".myconstraintlayout.RatioActivity" />
        <activity android:name=".myconstraintlayout.PercentActivity" />
        <activity android:name=".myconstraintlayout.BiasActivity" />
    </application>

</manifest>